@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@1,300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: "Inter",sans-serif;
}

/* Navigation */

.nav-container{
    background: #C7A2E3B2;
    height: 75px;
    width: 1440px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.wrapper{
    max-width: 1400px;
    margin: 0 auto;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
}

nav .logo{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 136px;
    top: 30px;
    margin-right: 24px;
    align-items: center;


}


nav ul{
    display: flex;
}

nav .logo{
    flex: 1;
}

nav .logo a{
    display: flex;
    align-items: center;
    text-decoration: none;
    left: 212px;
}

nav .Brand_name{
    width: 141px;
    height: 70px;
    left: 212px;
    top: 18px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 54px;
    display: flex;
    align-items: center;

    color: #000000;

}

/* Header container */

.header-container{
    display: flex;
    align-items: center;
}

header{
    display: flex;
    align-items: center;
    position: absolute;
    width: 227px;
    height: 236px;
    left: 606px;
    top: 200px;

}

